mixin cabecera
    title Calculadora HTML
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; utf-8")
    meta(name="language", content="Spanish")
    meta(name="content-language", content="es")
    meta(name="robots", content="all")
    meta(name="Keywords", content="calculadora, html, jquery, bootstrap")
    meta(http-equiv="X-UA-Compatible", content="IE=IE10")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="img/ponyo.ico", type="image/x-icon")    
    link(rel="stylesheet", href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/js/patternfly.min.js")
    script(src="js/calculadora.js")
