mixin calculadora(titulo)
    .panel.panel-primary.text-white.text-center
        .panel-heading
            .panel-title #{titulo}
        .panel-body
            include calculadora.pug
            +cuerpoCalculadora()