mixin cuerpoCalculadora
    form.form-horizontal
        .form-group.form-group-lg.text-justify
            label.control-label.col-xs-12.col-sm-4.col-md-3.col-lg-3(for="resultado") Resultado
            .col-xs-12.col-sm-8.col-md-9.col-lg-9
                input.form-control.input-lg(type="number", id="resultado", placeholder="Resultado", style="text-align:right;", disabled, value=0)
        .form-group.form-group-lg.text-justify
            label.control-label.col-xs-12.col-sm-4.col-md-3.col-lg-3(for="valor") Valor
            .col-xs-12.col-sm-8.col-md-9.col-lg-9
                input.form-control.input-lg(type="number", id="valor", placeholder="Ingrese nuevo valor", style="text-align:right;")
    button.btn.btn-default.btn-lg(type="button") Sumar
    button.btn.btn-info.btn-lg(type="button") Restar
    button.btn.btn-warning.btn-lg(type="button") Multiplicar
    button.btn.btn-success.btn-lg(type="button") Dividir
