mixin cuerpoCalculadora
    form.form-horizontal
        .form-group.form-group-lg.text-justify
            label.control-label.col-xs-12.col-sm-4.col-md-3.col-lg-3(for="resultado") Resultado
            .col-xs-12.col-sm-8.col-md-9.col-lg-9
                input.form-control.input-lg(type="number", id="resultado", style="text-align:right;", disabled, value=0)
        .form-group.form-group-lg.text-justify
            label.control-label.col-xs-12.col-sm-4.col-md-3.col-lg-3(for="operacion") Ultima operacion
            .col-xs-12.col-sm-8.col-md-9.col-lg-9
                input.form-control.input-lg(type="text", id="operacion", placeholder="Ultima Operacion", style="text-align:center;", disabled)
        .form-group.form-group-lg.text-justify
            label.control-label.col-xs-12.col-sm-4.col-md-3.col-lg-3(for="valor") Valor
            .col-xs-12.col-sm-8.col-md-9.col-lg-9
                .input-group
                    input.form-control.input-lg(type="number", id="valor", placeholder="Nuevo valor", style="text-align:right;")
                    span.input-group-btn
                        button.btn.btn-primary.btn-lg(type="button", id="btnIgual") [ = ]

    .visible-md-block.visible-lg-block.text-white.text-center.col-md-3.col-lg-3
        br
    .btn-group
        button.btn.btn-primary.btn-lg(type="button", id="btnSumar") Sumar
        button.btn.btn-primary.btn-lg(type="button", id="btnRestar") Restar
        button.btn.btn-primary.btn-lg(type="button", id="btnDividir") Dividir
        button.btn.btn-primary.btn-lg(type="button", id="btnMultiplicar") Multiplicar
    .btn-group
        button.btn.btn-danger.btn-lg(type="button", id="btnLimpiar") Limpiar