- var botones = ["Sumar", "Restar", "Multiplicar", "Dividir"];

doctype 5 
html(lang="es")
    head
        include includes/base.pug
        +cabecera()
    body
        br        
        .container
            .row
                .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
                    .jumbotron.text-center.text-capitalize.visible-desktop.hidden-tablet.hidden-phone
                        h2 taller de implementacion de aplicaciones web                    
                    include includes/baseCalculadora.pug
                    +calculadora('Calculadora HTML')